<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create a quiz</title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/quiz_results.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <!-- Font awesome library-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />

    <!-- fonts for CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <%- include('partials/_header') %> <% if(user) { %>
    <div class="create_new_quiz">
      <p class="create_title"><b>Add Question</b></p>

        <form method="POST" action="/quizzes/question/new">

        <div class="quiz_question_container">
          <div class="question_box">
            <div class="question_1">
              <div class="single_question_box">
                <label id="question1">Question <%= questionNum %>/4</label>
                <input class="question_input" name="question" required />
                <input type="hidden" name="quizId" value="<%= quizId %>" />
                <input type="hidden" name="questionNum" value="<%= questionNum %>" />
              </div>
              <div class="solutions">
                <div class="question_options">
                  <div>Insert answer</div>
                  <label for="answer1">A</label>
                  <input name="answer1" required />
                  <label for="answer2">B</label>
                  <input name="answer2" required />
                  <label for="answer3">C</label>
                  <input name="answer3" required />
                </div>
                <div class="question_options">
                  <div>Select correct answer</div>
                  <label>A</label>
                  <input
                    type="radio"
                    class="bubble"
                    name="solution"
                    value="A"
                    required
                  />
                  <label>B</label>
                  <input
                    type="radio"
                    class="bubble"
                    name="solution"
                    value="B"
                    required
                  />
                  <label>C</label>
                  <input
                    type="radio"
                    class="bubble"
                    name="solution"
                    value="C"
                    required
                  />
                </div>
              </div>
            </div>
            <% if (questionId !== 4) { %>
              <button class="try_again create_btn" type="submit">Add</button>
            <% } else { %>
              <button class="try_again create_btn" type="submit">Create Quiz</button>
            <% } %>
      </form>
    </div>
    <% } else { %>
    <div class="login_msg">
      <span class="login_msg">
        <p class="login_msg">Please login to create a quiz</p>
      </span>
    </div>
    <% } %>
  </body>
</html>
